{
  "openapi": "3.1.0",
  "info": {
    "title": "KORONA.cloud API v3",
    "description": "Our api provides access to our cloud services",
    "termsOfService": "https://support.korona.de/agb/",
    "contact": {
      "url": "https://167.koronacloud.com",
      "email": "support@koronapos.com"
    },
    "license": {
      "name": "KORONA.cloud API License",
      "url": "https://support.korona.de/agb/"
    },
    "version": "3.5.47"
  },
  "servers": [
    {
      "url": "https://167.koronacloud.com/web/api/v3"
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "description": "This API category refers to the management of \"accounts\" in accounting, wich refer to the financial records that track the transactions of a business."
    },
    {
      "name": "additional receipt info types",
      "description": "This API category refers to the management of additional information types that can be included in receipts."
    },
    {
      "name": "assortments",
      "description": "This API category refers to the management of assortments, which are collections of related products that are sold together."
    },
    {
      "name": "ticketing",
      "description": "This API category refers to the management of ticketing for events or other activities."
    },
    {
      "name": "cashier roles",
      "description": "This API category refers to the management of different roles and permissions for cashiers in a point-of-sale system."
    },
    {
      "name": "cashiers",
      "description": "This API category refers to the management of cashiers, including their login credentials and other related details."
    },
    {
      "name": "cashier verification requirements",
      "description": "This API category refers to the management of requirements for cashiers on a point-of-sale system for example, verifying the identity or age of a customer."
    },
    {
      "name": "commodity groups",
      "description": "This API category refers to the management of groups of related products or services."
    },
    {
      "name": "contra accounts",
      "description": "This API category refers to the management of contra accounts, which are used to offset the balance of other accounts."
    },
    {
      "name": "cost centers",
      "description": "This API category refers to the management of cost centers, which are used to track expenses related to specific departments or projects."
    },
    {
      "name": "coupons",
      "description": "This API category refers to the management of coupons, including their codes, names, and other related details."
    },
    {
      "name": "currencies",
      "description": "This API category refers to the management of different currencies and their names, symbols, denominations and exchange rates."
    },
    {
      "name": "customer display configurations",
      "description": "This API category refers to the management of settings for customer-facing displays, such as those used in a retail setting."
    },
    {
      "name": "customer groups",
      "description": "This API category refers to the management of groups of customers with similar characteristics, such as their buying habits or demographics."
    },
    {
      "name": "customer orders",
      "description": "This API category refers to the management of orders placed by customers, including their details and related information"
    },
    {
      "name": "customers",
      "description": "This API category refers to the management of customer information, including their contact details and other settings, such as the use of an email for digital receipt."
    },
    {
      "name": "data exchange configurations",
      "description": "This API category refers to the management of data exchange configurations."
    },
    {
      "name": "delivery notes",
      "description": "This API category refers to the management of delivery notes, which are documents used to confirm the delivery of goods or services. This feature requires the use of KORONA.invoicing."
    },
    {
      "name": "device configuration variables",
      "description": "This API category refers to the management of settings and configurations for hardware devices used in a point-of-sale system."
    },
    {
      "name": "discount configurations",
      "description": "This API category refers to the management of settings for different types of discounts that can be applied to purchases."
    },
    {
      "name": "dispatch notifications",
      "description": "This API category refers to the management of notifications related to the dispatch of goods or services. This feature requires the use of KORONA.retail."
    },
    {
      "name": "economic zones",
      "description": "This API category refers to the management of different economic zones, such as those with different tax rates or trade regulations."
    },
    {
      "name": "external system calls",
      "description": "This API category refers to the ability to make calls to external systems, such as payment processors or shipping providers."
    },
    {
      "name": "fiscal units",
      "description": "This API category refers to the management of fiscal units, which are used to track financial transactions for tax reporting purposes."
    },
    {
      "name": "images",
      "description": "This API category refers to the management of images used in various contexts, such as product listings or marketing materials."
    },
    {
      "name": "info texts",
      "description": "This API category refers to the management of text-based information used in various contexts, such as on receipts or in marketing materials."
    },
    {
      "name": "inventories",
      "description": "This API category refers to the management of inventory levels for different products or services. This feature requires the use of KORONA.retail."
    },
    {
      "name": "item sequences",
      "description": "APIs related to the management of item sequences. (KORONA.food required)"
    },
    {
      "name": "korona account",
      "description": "APIs related to the management of the KORONA.studio account, which includes the company contact details and other settings."
    },
    {
      "name": "languages",
      "description": "APIs related to the management of the accounts languages."
    },
    {
      "name": "loyalty cards",
      "description": "APIs related to the management of the loyalty cards."
    },
    {
      "name": "messages",
      "description": "APIs related to the management of messages thad can be send to the point-of-sale system."
    },
    {
      "name": "number range configurations",
      "description": "This API category refers to the management of number range configurations, which are used to trigger different actions if matching codes are scanned on the point-of-sale system"
    },
    {
      "name": "order portal suppliers",
      "description": "This API category refers to the management of order portal suppliers."
    },
    {
      "name": "organizational units",
      "description": "APIs related to the management of organizational units"
    },
    {
      "name": "payment method categories",
      "description": "APIs related to the management of payment method categories"
    },
    {
      "name": "payment methods",
      "description": "This API category refers to the management of payment methods, such as cash, credit cards, prepaid cards, and other."
    },
    {
      "name": "pos button layouts",
      "description": "This API category refers to the management of settings and configurations for button layouts on the point-of-sale user interface."
    },
    {
      "name": "pos page layout configurations",
      "description": "This API category refers to the management of settings and configurations for page layout configurations on the point-of-sale user interface."
    },
    {
      "name": "pos profiles",
      "description": "This API category refers to the management of settings and configurations of different point-of-sale system profiles, which include their button and page layouts."
    },
    {
      "name": "points of sale",
      "description": "This API category refers to the management of point-of-sale systems and their related details."
    },
    {
      "name": "price groups",
      "description": "This API category refers to the management of price groups and their related details."
    },
    {
      "name": "price rules",
      "description": "This API category refers to the management of price rules and their related details."
    },
    {
      "name": "prices",
      "description": "This API category refers to the management of product prices and their related details."
    },
    {
      "name": "products",
      "description": "This API category refers to the management of products and their related details."
    },
    {
      "name": "production types",
      "description": "This API category refers to the management of production types and their related details. Production types are a kind of action thad can be assigned to products, buttons or can be triggert by a action on the point of sale system."
    },
    {
      "name": "promotions",
      "description": "This API category refers to the management of promotions and their related details."
    },
    {
      "name": "receipt layout configurations",
      "description": "This API category refers to the management of receipt layouts and their related details."
    },
    {
      "name": "receipts",
      "description": "This API category refers to the retrieval and query of receipts, including their booking time, sales items, and other related details."
    },
    {
      "name": "rentals",
      "description": "This API category refers to the management of rentals. This feature requires the use of KORONA.invoicing."
    },
    {
      "name": "report files",
      "description": "This API category refers to the management and configuration of report files that can be produced from receipts and their sales items."
    },
    {
      "name": "revenue accounts",
      "description": "This API category refers to the management of revenue accounts, which are used to track the income earned by a business through the sale of goods or services."
    },
    {
      "name": "sales taxes",
      "description": "This API category refers to the management of sales taxes, including their economic zone, tax-rate and other related details."
    },
    {
      "name": "sectors",
      "description": "This API category refers to the management of sectors of related products or services, including their sales-taxes."
    },
    {
      "name": "special price configurations",
      "description": "This API category refers to the management of special prices, which are used to configure time based advertising prices."
    },
    {
      "name": "statistics",
      "description": "This API category refers to the retrieval and query of statistics, including revenue data, top sellers, and other related details."
    },
    {
      "name": "stock adjustments",
      "description": "APIs related to the management of stock adjustments, which are used to adjust inventory items for a store or a warehouse."
    },
    {
      "name": "stock orders",
      "description": "APIs related to the management of stock orders, which are used to order new inventory items for a store or a warehouse. This feature requires the use of KORONA.retail."
    },
    {
      "name": "stock receipts",
      "description": "APIs related to the management of stock receipts, which are used to record the reception of new inventory items. This feature requires the use of KORONA.retail."
    },
    {
      "name": "store orders",
      "description": "APIs related to the management of store orders, which are used to order items for a specific store or location."
    },
    {
      "name": "suppliers",
      "description": "APIs related to the management of suppliers, which includes the creation, modification, and retrieval of supplier information."
    },
    {
      "name": "tags",
      "description": "APIs related to the management of tags, which are used to categorize products and other entities in the system."
    },
    {
      "name": "time tracking",
      "description": "APIs related to the management of time tracking, which includes the creation, modification, and retrieval of time tracking information."
    },
    {
      "name": "user roles",
      "description": "APIs related to the management of user roles, which includes the creation, modification, and retrieval of user roles information."
    },
    {
      "name": "users",
      "description": "APIs related to the management of users, which includes the creation, modification, and retrieval of user information."
    },
    {
      "name": "voucher configurations",
      "description": "APIs related to the management of voucher configurations, which includes the creation, modification, and retrieval of voucher configuration information."
    },
    {
      "name": "vouchers",
      "description": "APIs related to the management of vouchers, which are used to offer discounts or promotions to customers."
    },
    {
      "name": "voucher transactions",
      "description": "APIs related to the management of voucher transactions, which includes the creation, modification, and retrieval of voucher transaction information."
    }
  ],
  "paths": {
    "/accounts/{koronaAccountId}/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "description": "lists all accounts",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "number of the page to fetch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "amount of objects to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "attribute to sort by (multiple separated by comma; max. 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "description": "last revision number, objects with a greater revision than this will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "indicates deleted objects should be loaded or not (default: false)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListAccount"
                }
              }
            }
          },
          "204": {
            "description": "Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "description": "adds a batch of new accounts",
        "operationId": "addAccounts",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "writeMode",
            "in": "query",
            "description": "DEFAULT = insert; ADD_OR_UPDATE = insert or update, overwrite all non-null fields; ADD_OR_REPLACE = insert or update, overwrite all fields",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "ADD_OR_UPDATE",
                "ADD_OR_REPLACE"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "array of new accounts",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "description": "deletes a batch of accounts",
        "operationId": "deleteAccounts",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing accounts (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "description": "updates a batch of accounts; [number] must be set in the objects, otherwise the object cannot be updated",
        "operationId": "updateAccounts",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "an array of existing accounts",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "description": "returns a single account",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "description": "deletes the single account",
        "operationId": "deleteAccount",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful, delete on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "accounts"
        ],
        "description": "updates the single account; if [number] is set, the number of the object will change and the resource location as well",
        "operationId": "updateAccount",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "the properties to update of the account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request successful, patch on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/additionalReceiptInfoTypes": {
      "get": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "lists all additional receipt info types",
        "operationId": "getAdditionalReceiptInfoTypes",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "number of the page to fetch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "amount of objects to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "attribute to sort by (multiple separated by comma; max. 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "description": "last revision number, objects with a greater revision than this will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "indicates deleted objects should be loaded or not (default: false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "number of the related object",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListAdditionalReceiptInfoType"
                }
              }
            }
          },
          "204": {
            "description": "Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "adds a batch of new additional receipt infos",
        "operationId": "addAdditionalReceiptInfoTypes",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "writeMode",
            "in": "query",
            "description": "DEFAULT = insert; ADD_OR_UPDATE = insert or update, overwrite all non-null fields; ADD_OR_REPLACE = insert or update, overwrite all fields",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "ADD_OR_UPDATE",
                "ADD_OR_REPLACE"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "array of new additional receipt infos",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdditionalReceiptInfoType"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "deletes a batch of additional receipt info types",
        "operationId": "deleteAdditionalReceiptInfoTypes",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing additional receipt infos (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdditionalReceiptInfoType"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "updates a batch of additional receipt info types; [number] must be set in the objects, otherwise the object cannot be updated",
        "operationId": "updateAdditionalReceiptInfoTypes",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "an array of existing additional receipt infos",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AdditionalReceiptInfoType"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/additionalReceiptInfoTypes/{additionalReceiptInfoTypeId}": {
      "get": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "returns the single additional receipt info type",
        "operationId": "getAdditionalReceiptInfoType",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additionalReceiptInfoTypeId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalReceiptInfoType"
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "deletes the single additional receipt info type",
        "operationId": "deleteAdditionalReceiptInfoType",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additionalReceiptInfoTypeId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful, delete on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "additional receipt info types"
        ],
        "description": "updates the single additional receipt info type; if [number] is set, the number of the object will change and the resource location as well",
        "operationId": "updateAdditionalReceiptInfoType",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "additionalReceiptInfoTypeId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "the object to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdditionalReceiptInfoType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request successful, patch on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/assortments": {
      "get": {
        "tags": [
          "assortments"
        ],
        "description": "lists all assortments",
        "operationId": "getAssortments",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "number of the page to fetch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "amount of objects to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "attribute to sort by (multiple separated by comma; max. 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "description": "last revision number, objects with a greater revision than this will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "indicates deleted objects should be loaded or not (default: false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "number of the related object",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListAssortment"
                }
              }
            }
          },
          "204": {
            "description": "Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "assortments"
        ],
        "description": "adds a batch of new assortments",
        "operationId": "addAssortments",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "writeMode",
            "in": "query",
            "description": "DEFAULT = insert; ADD_OR_UPDATE = insert or update, overwrite all non-null fields; ADD_OR_REPLACE = insert or update, overwrite all fields",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "ADD_OR_UPDATE",
                "ADD_OR_REPLACE"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "array of new assortments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Assortment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "assortments"
        ],
        "description": "deletes a batch of assortments",
        "operationId": "deleteAssortments",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing assortments (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Assortment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "assortments"
        ],
        "description": "updates a batch of assortments",
        "operationId": "updateAssortments",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing assortments (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Assortment"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/assortments/{assortmentId}": {
      "get": {
        "tags": [
          "assortments"
        ],
        "description": "returns the single assortment",
        "operationId": "getAssortment",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assortmentId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assortment"
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "assortments"
        ],
        "description": "deletes the single assortment",
        "operationId": "deleteAssortment",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assortmentId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful, delete on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "assortments"
        ],
        "description": "updates the single assortment",
        "operationId": "updateAssortment",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assortmentId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "the properties to update of the assortment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Assortment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request successful, patch on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/attendances": {
      "get": {
        "tags": [
          "ticketing"
        ],
        "description": "lists all attendances",
        "operationId": "getAttendances",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "number of the page to fetch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "amount of objects to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "attribute to sort by (multiple separated by comma; max. 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "description": "last revision number, objects with a greater revision than this will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "indicates deleted objects should be loaded or not (default: false)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListAttendance"
                }
              }
            }
          },
          "204": {
            "description": "Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "ticketing"
        ],
        "description": "updates/adds attendances",
        "operationId": "addOrUpdateAttendances",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "an array of attendances",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attendance"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/attendances/{attendanceId}": {
      "get": {
        "tags": [
          "ticketing"
        ],
        "description": "returns the single attendance",
        "operationId": "getAttendance",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attendance"
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "ticketing"
        ],
        "description": "cancel the attendance",
        "operationId": "cancelAttendance",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attendanceId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful, delete on single resource does not return any content"
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/cashierRoles": {
      "get": {
        "tags": [
          "cashier roles"
        ],
        "description": "lists all cashier roles",
        "operationId": "getCashierRoles",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "number of the page to fetch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "amount of objects to return per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "attribute to sort by (multiple separated by comma; max. 5)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "description": "last revision number, objects with a greater revision than this will be returned",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "description": "indicates deleted objects should be loaded or not (default: false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "number of the related object",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultListCashierRole"
                }
              }
            }
          },
          "204": {
            "description": "Request successful, but the list is empty. Either there is in general no object on the list or a set filter/restriction in querystring doesn't match any object."
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "cashier roles"
        ],
        "description": "adds a batch of new cashier roles",
        "operationId": "addCashierRoles",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "when set to true, updates the object instead of generating a already-exists-error; deprecated, use writeMode ADD_OR_UPDATE instead",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "writeMode",
            "in": "query",
            "description": "DEFAULT = insert; ADD_OR_UPDATE = insert or update, overwrite all non-null fields; ADD_OR_REPLACE = insert or update, overwrite all fields",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "ADD_OR_UPDATE",
                "ADD_OR_REPLACE"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "an array of new cashier roles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CashierRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "cashier roles"
        ],
        "description": "deletes a batch of cashier roles",
        "operationId": "deleteCashierRoles",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing cashier roles (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CashierRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "cashier roles"
        ],
        "description": "updates a batch of cashier roles",
        "operationId": "updateCashierRoles",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "array of existing cashier roles (id or number required)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CashierRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOrUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenErrorModel"
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorModel"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a specified period",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsErrorModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },
    "/accounts/{koronaAccountId}/cashierRoles/{cashierRoleId}": {
      "get": {
        "tags": [
          "cashier roles"
        ],
        "description": "returns the single cashier role",
        "operationId": "getCashierRole",
        "parameters": [
          {
            "name": "koronaAccountId",
            "in": "path",
            "description": "account id of the KORONA.cloud account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cashierRoleId",
            "in": "path",
            "description": "id of the related object (important: id should match the uuid-format)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashierRole"
                }
              }
            }
          },
          "400": {
            "description": "Malformed querystring or model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorModel"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid http-authentication"
          },
          "403": {
            "description": "Requested action is not allowed",
            "content": {
[...]
